<div class="contentGeneral">
    <h2>Monitoreo por plantas</h2>
    @if(seleccionado&&planta!=null){
        <span class="nombrePlanta"><img src={{getBanderaUrl(planta.pais)}} alt="">{{planta.pais}}, {{planta.nombre}}</span>
        <div class="contentConDetalle">
            @for(sensor of sensores1;track sensor.nombre){
               <app-tarjeta-sensor [sensor]="sensor"></app-tarjeta-sensor> 
               <!-- <app-tarjeta-sensor [sensor]="sensor"></app-tarjeta-sensor> 
               <app-tarjeta-sensor [sensor]="sensor"></app-tarjeta-sensor> 
               <app-tarjeta-sensor [sensor]="sensor"></app-tarjeta-sensor> 
               <app-tarjeta-sensor [sensor]="sensor"></app-tarjeta-sensor> 
               <app-tarjeta-sensor [sensor]="sensor"></app-tarjeta-sensor> 
               <app-tarjeta-sensor [sensor]="sensor"></app-tarjeta-sensor> 
               <app-tarjeta-sensor [sensor]="sensor"></app-tarjeta-sensor>  -->
            }
        </div>
    }
    @else{
        <div class="contentVacio">
            <span>Selecciona una planta de la tabla para mostrar resultados</span>
        </div>
    }
    
</div>