.textPortalMonitoreo{
    font-size: 36.48px;
    line-height: 54.71px;
    font-weight: 600;
    margin-bottom: 0px;
}
h3{
    font-size: 25px;
    line-height: 48px;
    margin-bottom: 25px;
}
.inputContainer{
    position: relative;
    width: 393px;
    margin-top: 10px;
}
input{
    width: 100%;
    height: 45px;
    top: 10px;
    gap: 0px;
    border-radius: 12px ;
    opacity: 1;    
    border: 1px solid rgba(220, 219, 221, 1);
    outline: none;
    box-sizing: border-box;
    background: transparent;
    padding-left: 10px;
}
:focus + label,
:not(:placeholder-shown) + label{
    top: -10px;
    font-size: 12px;
}

label{
    position: absolute;
    top: 12px;
    left: 12px;
    font-size: 16px;
    color: rgba(220, 219, 221, 1);
    transition: 0.2s ease-in-out;
    background: white;
    padding: 0 4px;
    pointer-events: none;
}
.ojoContracenia{
    position: absolute;
    top: 18px;
    // left: 300px;
    right: 20px;
}
.BotonContainer{
    display: flex;
   justify-content: space-between;
   margin-top: 15px;
   align-items: center;
}
button{
    border-radius: 12px;
    background-color: rgba(51, 163, 170, 1);
    border: 0px;
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    padding: 12px 35px 12px 34px;
    cursor: pointer;
}
.BotonContainer p{
    margin: 0;
    cursor: pointer;
    
}
.BotonContainer p:hover{
    text-decoration-line:underline;
}

// agrego 

.indexInicio{
 display: flex;
 align-items: center; 
 height: 100vh;
}
.Portada{
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(180deg, #33A3AA 0%, #107076 100%);

    // background-image: url(../assets/imagenes/imagenPortada.png),linear-gradient(180deg, #33A3AA 0%, #107076 100%);
    // background-size: cover;
    // background-position: center;
    // background-blend-mode: overlay;
    // background-color: rgba(255,255,255,0.01);
    // background-color: blue;
    width: 62%;
    height: 100%;
    padding-left: 128px;
    padding-right: 305px;
    flex-grow: 1;
}
.text-iniciar-Sesion{
    font-weight: 600;
    line-height: 58px;
    margin-bottom: 15px;
    z-index: 2;
}
.agradesimiento{
    font-weight: 400;
    z-index: 2;
    font-size: 14px;
    margin-right: 50px;
}
.componenteInicioSesion{
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 45%;
    height: 100vh;
    background-color: #FBFCFC;
    border-bottom-left-radius: 32px;
    border-top-left-radius:32px;
    margin-left: -33px;
    padding-left: 100px;
    padding-right: 100px;
    flex-grow: 1;
    box-sizing: border-box;
}
h6{
    font-weight: 500;
    margin-top: 0;
    margin-left: 7px;
}
.imagenPortada{
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.2;
    // object-fit:contain;
    width: 65%;
    height: 100%;
}
.liPortada{
    display: flex;
    flex-wrap: wrap;

}
.liPortada p{
    font-size: 12px;
   margin-top: -4px;
    flex-basis: 100%;
    margin-right: -70px;
    margin-left: 27px;
}
.iconoRayoImagenPortada{
    height: 20px;
    width: 20px;
}
.iconoStrellaImagenPortada{
    height: 18px;
    width: 18px;
}
.error{
    display: none;
    width: 100%;
    text-align: start;
    color: rgb(175 0 0);
    font-size: 12px;
}