<div class="indexInicio">
    <div class="Portada">
        <img src="../assets/imagenes/imagenPortada.png" alt="imagenPortada" class="imagenPortada">
        <h1 class="text-iniciar-Sesion Titulo">Iniciar sesión</h1>
        <p class="agradesimiento">Nos alegra tenerte de vuelta y estamos listos para atender tus necesidades. Inicia sesión y continúa aprovechando al máximo nuestra plataforma.</p>
        <ul>
        <li class="liPortada">
            <img src="../assets/imagenes/IconoRayo.png" alt="" class="iconoRayoImagenPortada">
            <h6>Monitoreo Integral</h6>
            <p>Administra, monitoria mutiples plantas de forma centralizada</p>
        </li>
        
        <li class="liPortada">
            <img src="../assets/imagenes/IconStar.png" alt="" class="iconoStrellaImagenPortada">
            <h6>Notificaciones en tiempo real</h6>
            <p>Recibi notificaciones en tiempo real sobre las mediciones</p>
        </li>
        </ul>
        
    </div>
    <div class="inicio componenteInicioSesion">
        <h1 class="textPortalMonitoreo Titulo">Portal de monitoreo</h1>
        <h3> Iniciar sesión</h3>
        @if(error!=''){
        <div class="error" id="error">
            <p>{{error}}</p>
        </div>
        }
        <form [formGroup]="loginForm" (ngSubmit)="iniciarSesion()">
            <div class="inputContainer">
                <input type="email" name="email" id="email" 
                formControlName="email" class="form-control"
                [class.is.invalid]="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" >
                <label for="email">Email</label>
            </div>
            <div class="inputContainer">
                <input  type="password"   class="inputContracenia form-control"  
                name="contracenia" id="contracenia password" 
                formControlName="password"
                [class.is.invalid]="loginForm.get('password')?.invalid && loginForm.get('password')?.touched"
                >
                <label for="contracenia">Contraceña</label>
                <img src="../../assets/imagenes/ojoContracenia.png" alt="" class="ojoContracenia" (click)="setInputContracenia()">
            </div>
            <div class="BotonContainer">
                <p>¿Olvidaste tu contraseña?</p>
                <button type="submit">Iniciar sesión</button>
            </div>
         </form>
        <p style="font-size: 12px; margin-top: 10px; color: #84818A">Protegido por reCAPTCHA y sujeto a la <span style="color: #33A3AA">Política de Privacidad</span> y <span style="color: #33A3AA">Condiciones</span> .</p>
        <p style="font-size: 14px;">¿No tienes Cuenta? <a href="/registro"><span style="color:#33A3AA ; margin-left: 5px; cursor: pointer;" onmouseover= "this.style.textDecoration='underline';" onmouseout="this.style.textDecoration='none';">Registrate</span></a></p>
    </div>
</div>
