nav{
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 1);
    align-items: center;
    height: 100%;
    width: 80px;
    position: fixed;
}
.imgLogo{
    margin-top: 25px;
    width: 36px;
    height: 32px;
    margin-bottom: 74px;
}
img{
  margin-bottom: 40px;
  height: 20px;
  width: 20px;
}
.generalicon:hover{
     filter: invert(1) brightness(0%);
     cursor: pointer;
}
.camaraIcon{
    width: 24px;
    height: 15px;
   
}
.sensoresIcon{
    height: 16.97px;
    width: 22px;
}