<nav >
    <img src="../assets/imagenes/logoSidenav.png" alt="" class="imgLogo">
    <img src="../assets/imagenes/mundoSideNav.png" alt="" class="generalicon">
    <img src="../assets/imagenes/camaraSideNav.png" alt="" class="camaraIcon generalicon">
    <img src="../assets/imagenes/HistoricodesensoresSideNav.png" alt="" class="sensoresIcon generalicon">
    <img src="../assets/imagenes/HistoricoPlantasSideNav.png" alt="" class="generalicon">
    <img src="../assets/imagenes/cerrarSesionSideNav.png" alt="" class="generalicon">
</nav>
