<app-side-nav></app-side-nav>
<div class="content">
    <app-nav-bar></app-nav-bar>
    <section class="tarjetasGeneralesSeccion">
            @for(tarjetasGeneral of tarjetasGenerales;track tarjetasGeneral.text){
                <app-tarjetas-generales text="{{tarjetasGeneral.text}}" cantidad="{{tarjetasGeneral.nro}}" urlIcon="{{getIconTarjetaGeneral(tarjetasGeneral.text)}}" ></app-tarjetas-generales> 
            }
    </section>
    <section class="plantasSeccion">
        <app-lista-plantas></app-lista-plantas>
    </section>
    <Section class="detallePlanta">
        <app-detalle-planta></app-detalle-planta>
    </Section>
       
</div>

