<app-side-nav></app-side-nav>
<div class="content">
    <app-nav-bar></app-nav-bar>
    <section class="tarjetasGeneralesSeccion">
        @for(tarjetasGeneral of tarjetasgenerales;track tarjetasGeneral.text){
            <app-tarjetas-generales text="{{tarjetasGeneral.text}}" cantidad="{{tarjetasGeneral.nro}}" urlIcon="{{tarjetasGeneral.urlIcon}}" ></app-tarjetas-generales> 
        }
    </section>
    <section class="plantasSeccion">
        <app-lista-plantas></app-lista-plantas>
    </section>
       
</div>

