:host{
    display: flex;
    background-color: rgba(233, 241, 244, 1);
    height: 100%;
    width: 100%;
}
.content{
    width: 100%;
    margin-left: 80px;
}
.tarjetasGeneralesSeccion{
    display: flex;
    justify-content: space-evenly;
    margin-left: 15px;
    margin-right: 15px;
}