<div class="indexInicio">
    <div class="Portada">
        <img src="../assets/imagenes/imagenPortada.png" alt="imagenPortada" class="imagenPortada">
        <h1 class="text-iniciar-Sesion Titulo">Registrarse</h1>
        <p class="agradesimiento">¡Bienvenido! Estamos encantados de que quieras unirte a nuestra plataforma. Regístrate y comienza a disfrutar de todas las ventajas que ofrecemos. No pierdas la oportunidad de ser parte de nuestra comunidad.</p>
        <ul>
        <li class="liPortada">
            <img src="../assets/imagenes/IconoRayo.png" alt="" class="iconoRayoImagenPortada">
            <h6>Monitoreo Integral</h6>
            <p>Administra, monitoria mutiples plantas de forma centralizada</p>
        </li>
        
        <li class="liPortada">
            <img src="../assets/imagenes/IconStar.png" alt="" class="iconoStrellaImagenPortada">
            <h6>Notificaciones en tiempo real</h6>
            <p>Recibi notificaciones en tiempo real sobre las mediciones</p>
        </li>
        </ul>
        
    </div>
    <div class="inicio componenteInicioSesion">
        <h1 class="textPortalMonitoreo Titulo">Portal de monitoreo</h1>
        <h3> Registrarse</h3>
        @if(error!=""){
        <Div class="error" id="error">
            <p>{{error}}</p>
        </Div>
        }
        <form [formGroup]="loginForm" (ngSubmit)="registrarse()">
            <div class="inputContainer">
                <input 
                type="text" name="usuario" id="usuario" 
                formControlName="usuario" class="form-control"
                [class.is.invalid]="loginForm.get('usuario')?.invalid && loginForm.get('usuario')?.touched"
                >
                <label for="user">Usuario</label>
            </div>
            <div class="inputContainer">
                <input 
                type="email" name="email" id="email" 
                formControlName="email" class="form-control"
                [class.is.invalid]="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
                <label for="email">Email</label>
            </div>
            <div class="inputContainer">
                <input  type="password"  
                type="password"   class="inputContracenia form-control"  
                name="contracenia" id="contracenia" 
                formControlName="password"
                [class.is.invalid]="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
                <label for="contracenia">Contraceña</label>
                <img src="../../assets/imagenes/ojoContracenia.png" alt="" class="ojoContracenia" (click)="setInputContracenia('contracenia')">
            </div>
            <div class="inputContainer">
                <input  
                type="password"   class="inputContracenia form-control"  
                name="RepetirPassword" id="RepetirPassword" 
                formControlName="RepetirPassword"
                [class.is.invalid]="loginForm.get('RepetirPassword')?.invalid && loginForm.get('RepetirPassword')?.touched">
                <label for="contraceniaRepetida">Repetir contraceña</label>
                <img src="../../assets/imagenes/ojoContracenia.png" alt="" class="ojoContracenia" (click)="setInputContracenia('contraceniaRepetida')">
            </div>
            <div class="BotonContainer">
                <p>-Al menos 8 caracteres</p>
                <button type="submit">{{textButtonRegister}}</button>
            </div>
         </form>
        <p style="font-size: 12px; margin-top: 10px; color: #84818A">Protegido por reCAPTCHA y sujeto a la <span style="color: #33A3AA">Política de Privacidad</span> y <span style="color: #33A3AA">Condiciones</span> .</p>
        <p style="font-size: 14px;">¿Ya tienes cuenta? <a href="/"><span style="color:#33A3AA ; margin-left: 5px; cursor: pointer;" onmouseover= "this.style.textDecoration='underline';" onmouseout="this.style.textDecoration='none';">Iniciar sesion</span></a></p>
    </div>
</div>
