<div class="inicio">
    <h1 class="textPortalMonitoreo Titulo">Portal de monitoreo</h1>
    <!-- <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni reprehenderit vitae culpa repellendus totam tempora quae incidunt, nam fugit quod a distinctio dolor accusamus sunt iure, dicta magnam nisi ex.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi aspernatur voluptate perspiciatis voluptatum. Illum in id, quo dolorem inventore consequuntur? Labore optio ipsum recusandae! Omnis facere beatae odit tenetur pariatur.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Error ad, repellendus magnam reprehenderit distinctio doloremque. Pariatur optio nam deserunt. Dolores dignissimos quidem quibusdam deleniti, voluptas facere possimus pariatur impedit reprehenderit!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae molestiae dolores, deserunt, aspernatur illum nisi qui, tempore fugiat excepturi quidem eos corrupti autem laudantium architecto minima sit nostrum provident? Vero.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae maiores numquam corrupti esse quos sunt nostrum debitis, quae architecto deserunt, dolore magnam ad eligendi aliquam eius minima eaque soluta praesentium?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima rerum vero animi soluta, earum dolorum accusamus quam? Illum aspernatur veniam voluptatum tempore, exercitationem enim mollitia! Est quia nemo natus tempora.
    </p> -->
    <h3> Iniciar sesión</h3>
    <div class="inputContainer">
        <input type="email"  placeholder="">
        <label for="">Email</label>
    </div>
    <div class="inputContainer">
        <!-- @if(ver){<input  type="text"  placeholder="">}
        @else{<input  type="password"  placeholder="">} -->
        <input  type="password"  placeholder="" class="inputContracenia" id="contracenia">
        <label for="">Contraceña</label>
        <img src="../../assets/imagenes/ojoContracenia.png" alt="" class="ojoContracenia" (click)="setInputContracenia()">
    </div>

  </div>
