<div class="indexInicio">
  
  <div class="Portada">
    <img src="../assets/imagenes/imagenPortada.png" alt="imagenPortada" class="imagenPortada">
    <h1 class="text-iniciar-Sesion Titulo">Iniciar sesión</h1>
    <p class="agradesimiento">Nos alegra tenerte de vuelta y estamos listos para atender tus necesidades. Inicia sesión y continúa aprovechando al máximo nuestra plataforma.</p>
    <ul>
      <li class="liPortada">
        <img src="../assets/imagenes/IconoRayo.png" alt="" class="iconoRayoImagenPortada">
        <h6>Monitoreo Integral</h6>
        <p>Administra, monitoria mutiples plantas de forma centralizada</p>
      </li>
      
      <li class="liPortada">
        <img src="../assets/imagenes/Icon.png" alt="" class="iconoStrellaImagenPortada">
        <h6>Notificaciones en tiempo real</h6>
        <p>Recibi notificaciones en tiempo real sobre las mediciones</p>
      </li>
    </ul>
    
  </div>
  <app-inicio-sesion class="componenteInicioSesion"></app-inicio-sesion>
</div>