:host{
    display: block;
    width: 290px;
    height: 110px;
}
.tarjetasGenerales{
    background-color: rgba(255, 255, 255, 1);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 290px;
    height: 110px;
    padding-top: 55px;
    padding-bottom: 55px;
}
.lectura{
    margin-left: 18px;
}
p{
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: rgba(142, 142, 161, 1);
    margin-bottom: 0px;
}
h3{
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    margin: 0;
}
img{
    height: 60px;
    width: 60px;
    margin-right: 18px;
}