<div class="content">
    <div class="headTable">
            <h3>Plantas</h3>
            <Button>+Crear nueva planta</Button>
    </div>
    <table>
        <tr class="trFijo">
            <th> País</th>
            <th>Nombre de la planta</th>
            <th><img src="../assets/imagenes/tildeIcono.png" alt="">Lecturas OK</th>
            <th><img src="../assets/imagenes/admiracionIcono.png" alt="">Alertas medias</th>
            <th><img src="../assets/imagenes/peligroIcono.png" alt="">Alertas rojas</th>
            <th></th>
        </tr>
        @for(planta of Plantas;track planta.id){
           
            <tr [ngClass]="{'seleccionado':planta.id===selectPlantaId}">
                <th><img src={{planta.imgBanderaUrl}} alt="" class="bandera"> {{planta.pais}}</th>
                <th>{{planta.nombrePlanta}}</th>
                <th>{{planta.lecturasOk}}</th>
                <th>{{planta.alertasMadias}}</th>
                <th>{{[planta.alertasRojas]}}</th>
                @if(planta.id===selectPlantaId){
                    <th class="containVerPlanta"><Button class="verPlanta" (click)="dejarDeverPlanta(planta.id)">Dejar de ver</Button><img src="../assets/imagenes/tresPuntos.png" alt="" class="tresPuntos"></th>
                }@else{
                    <th class="containVerPlanta"><Button class="verPlanta" (click)="verPlanta(planta.id)">Ver Planta</Button><img src="../assets/imagenes/tresPuntos.png" alt="" class="tresPuntos"></th>
                }
                
            </tr>
        }
      
    </table>
</div>
