<div class="content">
    <div class="headTable">
            <h3>Plantas</h3>
            <Button (click)='abrirCartel("CrearPlanta", null)'>+Crear nueva planta</Button>
    </div>
    <table>
        <tr class="trFijo">
            <th> País</th>
            <th>Nombre de la planta</th>
            <th><img src="../assets/imagenes/tildeChicoIcono.png" alt="">Lecturas OK</th>
            <th><img src="../assets/imagenes/admiracionChicoIcono.png" alt="">Alertas medias</th>
            <th><img src="../assets/imagenes/peligroChicoicono.png" alt="">Alertas rojas</th>
            <th></th>
        </tr>
        @for(planta of plantas;track planta.id){
           
            <tr [ngClass]="{'seleccionado':planta.id===selectPlantaId}">
                <th><img src={{getBanderaUrl(planta.pais)}} alt="" class="bandera"> {{planta.pais}}</th>
                <th>{{planta.nombre}}</th>
                <th>{{planta.lecturasOk}}</th>
                <th>{{planta.alertasMadias}}</th>
                <th>{{[planta.alertasRojas]}}</th>
                <th class="containVerPlanta"><Button class="verPlanta" id="boton{{planta.id}}"(click)="verPlanta(planta.id,planta)">{{selectPlantaId===planta.id? 'Dejar de ver':'Ver Planta'}}</Button><img src="../assets/imagenes/tresPuntos.png" (click)='abrirCartel("EditarPlanta",planta.id)' alt="" class="tresPuntos"></th>
            </tr>
        }
      
    </table>
</div>
