<div class="indexInicio">
    <div class="Portada">
        <img src="../assets/imagenes/imagenPortada.png" alt="imagenPortada" class="imagenPortada">
        <h1 class="text-iniciar-Sesion Titulo">Registrarse</h1>
        <p class="agradesimiento">¡Bienvenido! Estamos encantados de que quieras unirte a nuestra plataforma. Regístrate y comienza a disfrutar de todas las ventajas que ofrecemos. No pierdas la oportunidad de ser parte de nuestra comunidad.</p>
        <ul>
        <li class="liPortada">
            <img src="../assets/imagenes/IconoRayo.png" alt="" class="iconoRayoImagenPortada">
            <h6>Monitoreo Integral</h6>
            <p>Administra, monitoria mutiples plantas de forma centralizada</p>
        </li>
        
        <li class="liPortada">
            <img src="../assets/imagenes/Icon.png" alt="" class="iconoStrellaImagenPortada">
            <h6>Notificaciones en tiempo real</h6>
            <p>Recibi notificaciones en tiempo real sobre las mediciones</p>
        </li>
        </ul>
        
    </div>
    <div class="inicio componenteInicioSesion">
        <h1 class="textPortalMonitoreo Titulo">Portal de monitoreo</h1>
        <h3> Registrarse</h3>
        <form #form="ngForm" (ngSubmit)="registrarse(form)">
            <div class="inputContainer">
                <input type="text"  placeholder="" name="user" ngModel id="user">
                <label for="user">Usuario</label>
            </div>
            <div class="inputContainer">
                <input type="email"  placeholder="" name="email" ngModel id="email">
                <label for="email">Email</label>
            </div>
            <div class="inputContainer">
                <input  type="password"  ngModel placeholder="" class="inputContracenia"  name="contracenia" id="contracenia">
                <label for="contracenia">Contraceña</label>
                <img src="../../assets/imagenes/ojoContracenia.png" alt="" class="ojoContracenia" (click)="setInputContracenia('contracenia')">
            </div>
            <div class="inputContainer">
                <input  type="password"  ngModel placeholder="" class="inputContracenia"  name="contraceniaRepetida" id="contraceniaRepetida">
                <label for="contraceniaRepetida">Repetir contraceña</label>
                <img src="../../assets/imagenes/ojoContracenia.png" alt="" class="ojoContracenia" (click)="setInputContracenia('contraceniaRepetida')">
            </div>
            <div class="BotonContainer">
                <p>-Al menos 10 caracteres y uno especial</p>
                <button type="submit">Registrarse</button>
            </div>
         </form>
        <p style="font-size: 12px; margin-top: 10px; color: #84818A">Protegido por reCAPTCHA y sujeto a la <span style="color: #33A3AA">Política de Privacidad</span> y <span style="color: #33A3AA">Condiciones</span> .</p>
        <p style="font-size: 14px;">¿Ya tienes cuenta? <a href="/"><span style="color:#33A3AA ; margin-left: 5px; cursor: pointer;" onmouseover= "this.style.textDecoration='underline';" onmouseout="this.style.textDecoration='none';">Iniciar sesion</span></a></p>
    </div>
</div>
